<h1>How does it work?</h1>
<ol>
  <li>Attach an USB mass storage device to the connector in your car</li>
  <li>Activate your multimedia system and make sure that it recognizes the USB device.</li>
	<p>If you are not sure whether your USB device is working correctly you can play back some music from it to  ensure it is operational. Your vehicles multimedia system U-Connect installs on every USB device an unique version descriptor file which has to be uploaded to this web site for technical reasons.</p>
  <li>Register to the u-tunes and upload the U-connect version file you find on your USB device named &quot;uconnect.ver&quot;.</li>
  <li> You can now download or buy new voice file bundles for your vehicle.</li>
  <!-- usw. -->
</ol>

<p>

<object width="340" height="285"><param name="movie" value="http://www.youtube.com/v/Oruwx7kGdjA&fmt=18&hl=de&fs=1&color1=0x234900&color2=0x4e9e00&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Oruwx7kGdjA&fmt=18&hl=de&fs=1&color1=0x234900&color2=0x4e9e00&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="340" height="285"></embed></object>

<object width="340" height="285"><param name="movie" value="http://www.youtube.com/v/alFfwU0iL_w&hl=de&fs=1&color1=0x234900&color2=0x4e9e00&border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/alFfwU0iL_w&fmt=18&hl=de&fs=1&color1=0x234900&color2=0x4e9e00&border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="340" height="285"></embed></object>

</p>

<p> Go ahead and </p> <%= link_to "register at utunes now", :controller=>"user", :action=>"register" %> 
