<h1>Your Software Update Bundle is ready for download</h1>

<p> You can download your update file by right clicking to the following link: </p>
	
<div class="utunesNotice">
	<p>
		<%= @downloadlink %>
	</p>
	<p>
</div>	
	
<p> Save the file to the root directory of your USB mass storage device under the name "uconnect.upd". After having plugged the USB device to your vehicle, active your hands-free unit, press the U-Connect button and say "Setup Software Update". 
</p>
	
<p>Be prepared that the update process can take a while</p>
	





