<h1> Request of New Login Data </h1>

<br />
<br />
<br />


<div class="utunes-form">

<% form_for :user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div>
    <%= f.label :email %>:
    <%= f.text_field :email, :size => 40 %>
  </div>

  <div>
    <%= f.submit "get reactivation mail", :class => "submit" %>
  </div>

  </fieldset>
<% end %>

</div>