<h1>Welcome <%=h  @user.name %></h1>

<br />

<p>You can now download new voice bundles or create your own ones by selecting the functions on the left. </p>

<br />

<p>Have Fun,</p>
<p>Your U-Tunes team</p> 